@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500;600;700&family=Nunito+Sans:wght@600;700&family=Open+Sans:wght@500;600;700&family=Poppins:wght@500;600;700&family=Raleway:wght@500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* APOlLO-DETAIL SECTION IS HERE  */

#apollo-detail {
  margin-top: 20px;
}

#apollo-detail h1 {
  text-align: center;
  font-size: 26px;
  font-family: 'Open sans', sans-serif;
  color: #343434;
}

#apollo-detail ul {
  display: flex;
  width: 180px;
  position: relative;
  top: 32px;
  left: 10px;
  color: #fff;
}

#apollo-detail ul li {
  list-style: none;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  padding: 10px;
}

#apollo-detail ul i {
  margin-top: 12px;
}

#apollo-detail ul li a {
  text-decoration: none;
  color: #fff;
}

#apollo-detail ul li a:hover {
  color: rgb(255, 78, 78);
  transition: 0.3s ease-in;
}

#apollo-detail .apollo-main-bg img {
  width: 100%;
  height: 60vh;
}

@media screen and (max-width: 450px) {
  #apollo-detail {
    margin-top: 20px;
  }
  
  #apollo-detail h1 {
    text-align: center;
    font-size: 26px;
    font-family: 'Open sans', sans-serif;
    color: #343434;
  }
  
  #apollo-detail ul {
    display: flex;
    width: 180px;
    position: relative;
    top: 32px;
    left: 10px;
    color: #fff;
  }
  
  #apollo-detail ul li {
    list-style: none;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    padding: 10px;
  }
  
  #apollo-detail ul i {
    margin-top: 12px;
  }
  
  #apollo-detail ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  #apollo-detail ul li a:hover {
    color: rgb(255, 78, 78);
    transition: 0.3s ease-in;
  }
  
  #apollo-detail .apollo-main-bg img {
    width: 100%;
    height: 40vh;
  }
}

/* APOLLO-MAINBOX-1 */

#apollo-detail #apollo-mainbox-1 {
  height: 240px;
  margin: 30px 25px;
  display: flex;
}

#apollo-mainbox-1 .apollo-logo-img img {
  height: 85px;
  margin-top: 105px;
}

#apollo-mainbox-1 .apollo-about h2 {
  text-align: center;
  font-family: 'Arimo', sans-serif;
  font-weight: 600;
  font-size: 23px;
  color: #343434;
}

#apollo-mainbox-1 .apollo-about p {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  color: #707070;
}


/* APOLLO-MAINBOX-2 */

#apollo-mainbox-2 .tyre-box {
  display: flex;
  background-color: #fff;
  width: 60%;
  margin: 50px auto;
  font-family: 'Poppins', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

/*  LEFT-BOX */

.left-box {
  flex-basis: 40%;
  padding: 40px 60px;
}

.left-box h3 {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 600;
  color: rgb(48, 48, 48);
}

.left-box img {
  height: 250px;
}

/* RIGHT-BOX */

.right-box {
  flex-basis: 60%;
  background-color: #e3e3e3;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.right-box .tables {
  border-collapse: collapse;
}

.tables tbody tr td {
  border: 2px solid silver;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.35px;
  line-height: 35px;
  text-align: start;
  padding: 5px 15px;
}

.tables tbody tr td:hover {
  color: red;
  cursor: pointer;
}
@media screen and (max-width: 450px) {

  #apollo-detail #apollo-mainbox-1 {
    height: 240px;
    margin: 30px 25px;
    display: inline-block;
  }
  
  #apollo-mainbox-1 .apollo-logo-img img {
    height: 60px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  #apollo-mainbox-1 .apollo-about h2 {
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #343434;
  }
  
  #apollo-mainbox-1 .apollo-about p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    color: #707070;
  }
  
  
  /* APOLLO-MAINBOX-2 */
  
  #apollo-mainbox-2 .tyre-box {
    display: inline-block;
    background-color: #fff;
    width: 100%;
    margin: 50px auto;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  }
  
  /*  LEFT-BOX */
  
  .left-box {
    flex-basis: 40%;
    padding: 40px 60px;
  }
  
  .left-box h3 {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 600;
    color: rgb(48, 48, 48);
    margin-left: 50px;
  }
  
  .left-box img {
    height: 210px;
    margin-left: 50px;
  }
  
  /* RIGHT-BOX */
  
  .right-box {
    flex-basis: 60%;
    background-color: #e3e3e3;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .right-box .tables {
    border-collapse: collapse;
  }
  
  .tables tbody tr td {
    border: 2px solid silver;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.35px;
    line-height: 35px;
    text-align: start;
    padding: 5px 15px;
  }
  
  .tables tbody tr td:hover {
    color: red;
    cursor: pointer;
  }
}
