@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500;600;700&family=Nunito+Sans:wght@600;700&family=Open+Sans:wght@500;600;700&family=Poppins:wght@500;600;700&family=Raleway:wght@500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONTINENTAL-DETAIL SECTION IS HERE  */

#continental-detail {
  margin-top: 20px;
}

#continental-detail h1 {
  text-align: center;
  font-size: 26px;
  font-family: 'Open sans', sans-serif;
  color: #343434;
}

#continental-detail ul {
  display: flex;
  width: 180px;
  position: relative;
  top: 32px;
  left: 10px;
  color: #fff;
}

#continental-detail ul li {
  list-style: none;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  padding: 10px;
}

#continental-detail ul i {
  margin-top: 12px;
}

#continental-detail ul li a {
  text-decoration: none;
  color: #fff;
}

#continental-detail ul li a:hover {
  color: rgb(255, 78, 78);
  transition: 0.3s ease-in;
}

#continental-detail .continental-main-bg img {
  width: 100%;
  height: 50vh;
}

@media screen and (max-width: 450px) {
 
  #continental-detail h1{
    padding: 5%;
  }
  #continental-detail .continental-main-bg img {
    width: 100%;
    height: 30vh;
  }
}



/* CONTINENTAL-MAINBOX-1 */

#continental-detail #continental-mainbox-1 {
  height: 220px;
  margin: 30px 25px;
  display: flex;
}

#continental-mainbox-1 .continental-logo-img img {
  height: 240px;
  margin: -10px 0 0 20px;
}

#continental-mainbox-1 .continental-about h2 {
  text-align: center;
  font-family: 'Arimo', sans-serif;
  font-size: 23px;
  color: #343434;
}

#continental-mainbox-1 .continental-about p {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  color: #707070;
}

@media screen and (max-width: 450px) {
 
  #continental-detail #continental-mainbox-1 {
    /* border: 2px solid red; */
    height: 500px;
    margin: 30px 25px;
    display: block;
  }

  #continental-mainbox-1 .continental-logo-img img {
    height: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  #continental-mainbox-1 .continental-about h2 {
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    color: #343434;
  }

  #continental-mainbox-1 .continental-about p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    color: #707070;
  }
}


/* CONTINENTAL-MAINBOX-2 */

#continental-mainbox-2 .tyre-box {
  display: flex;
  background-color: #fff;
  width: 90%;
  margin: 50px auto;
  font-family: 'Poppins', sans-serif;
  border-bottom: 2px solid silver;
}

/*  LEFT-BOX */

.left-box {
  flex-basis: 30%;
  padding: 40px;
}

.left-box h3 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
  color: rgb(48, 48, 48);
}

.left-box p {
  font-size: 18px;
  margin-bottom: 20px;
  color: tomato;
}

.left-box img {
  height: 250px;
}

/* RIGHT-BOX */

.right-box {
  flex-basis: 70%;
  background-color: #e3e3e3;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-box .tables {
  border-collapse: collapse;
  padding: 10px;
  border: 1px solid grey;
}

.tables thead tr th {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.35px;
  line-height: 35px;
  padding: 0 20px;
  background-color: yellow;
  border: 1px solid grey;
  text-align: center;
}

.tables tbody tr td {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.35px;
  line-height: 35px;
  padding: 0 20px;
  border: 1px solid grey;
  text-align: center;
}
@media screen and (max-width: 450px) {
  #continental-mainbox-2 .tyre-box {
    display: block;
    background-color: #fff;
    width: 95%;
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
    border-bottom: 2px solid silver;
  }

  /*  LEFT-BOX */

  .left-box {
    flex-basis: 30%;
    padding: 40px;
  }

  .left-box h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: rgb(48, 48, 48);
  }

  .left-box p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    color: tomato;
  }
  .left-box img {
    height: 250px;
    margin-left: 25%;
  }

  /* RIGHT-BOX */

  .right-box {
    flex-basis: 77%;
    background-color: #e3e3e3;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  .right-box .tables {
    border-collapse: collapse;
    padding: 10px;
    border: 1px solid grey;
  }

  .tables thead tr th {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.15px;
    line-height: 20px;
    text-align: start;
    padding: 0 10px;
    background-color: yellow;
    border: 1px solid grey;
    text-align: center;
  }

  .tables tbody tr td {
    font-size: 10px;
    /* font-weight: 500; */
    letter-spacing: 0.15px;
    line-height: 20px;
    padding: 0 10px;
    border: 1px solid grey;
    text-align: center;
  }
}