@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500;600;700&family=Nunito+Sans:wght@600;700&family=Open+Sans:wght@500;600;700&family=Poppins:wght@500;600;700&family=Raleway:wght@500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BRIDGESTONE-MAINBOX-1 */

#bridgestone-detail ul {
  display: flex;
  width: 180px;
  position: relative;
  top: 32px;
  left: 10px;
  color: #fff;
}

#bridgestone-detail ul li {
  list-style: none;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  padding: 10px;
}

#bridgestone-detail ul i {
  margin-top: 12px;
}

#bridgestone-detail ul li a {
  text-decoration: none;
  color: #fff;
}

#bridgestone-detail ul li a:hover {
  color: rgb(255, 78, 78);
  transition: 0.3s ease-in;
}

#bridgestone-mainbox-1 .bridgestone-main-bg img {
  width: 100%;
  height: 68vh;
}

#bridgestone-mainbox-1 .bridgestone-logo-img {
  display: inline-block;
  position: relative;
  bottom: 300px;
  left: 560px;
}

#bridgestone-mainbox-1 .bridgestone-logo-img img {
  height: 120px;
}

#bridgestone-mainbox-1 .bridgestone-about {
  display: inline-block;
  position: relative;
  bottom: 290px;
  left: 80px;
}

#bridgestone-mainbox-1 .bridgestone-about h1 {
  font-size: 45px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

#bridgestone-mainbox-1 .bridgestone-para {
  text-align: center;
  position: relative;
  bottom: 100px;
}

#bridgestone-mainbox-1 .bridgestone-para h2 {
  font-family: 'Open sans', sans-serif;
  color: #343434;
  font-size: 25px;
}

#bridgestone-mainbox-1 .bridgestone-para pre {
  font-size: 18px;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  color: #707070;
}

/* BRIDGESTONE-MAINBOX-1 */

#bridgestone-mainbox-2{
  margin-top: -50px;
}

#bridgestone-mainbox-2 h2 {
  font-size: 30px;
  text-align: center;
  font-family: 'Open sans', sans-serif;
  color: #343434;
}

#bridgestone-mainbox-2 #tyre-chart a img {
  height: 300vh;
  width: 70%;
  margin: 50px 220px;
}

#bridgestone-mainbox-2 #vehicle-chart img {
  height: 95vh;
  width: 70%;
  margin: 50px 220px;
}

#bridgestone-mainbox-2 #size-chart img {
  height: 60vh;
  width: 60%;
  margin: 50px 300px;
}

#bridgestone-mainbox-2 #tyre-chart a img:hover,
#bridgestone-mainbox-2 #vehicle-chart img:hover,
#bridgestone-mainbox-2 #size-chart img:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
}
