@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.container-left {
  flex-basis: 50%;
  padding: 40px 60px;
  background-color: #dd1818e6;
  color: #fff;
}

.container-left h1 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 10px;
}

.container-left p {
  font-size: 16px;
}

.container-right {
  flex-basis: 50%;
}

.container-right img {
  height: 300px;
  width: 100%;
}

/* CONTAINER-FORM */

.container-form {
  width: 90%;
  margin: 50px auto;
  font-family: 'Poppins', sans-serif;
  padding-left: 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.contact-box form h2 {
  font-size: 25px;
  margin: 30px 0 20px 0;
  font-weight: 600;
  color: rgb(48, 48, 48);
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group {
  flex-basis: 45%;
}

input,
.category {
  width: 80%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
  letter-spacing: 1px;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
}

label {
  margin-bottom: 6px;
  display: block;
  color: #dd1818e6;
  font-size: 18px;
}

button {
  background: #dd1818e6;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 5px;
  margin: 20px 0 40px 0;
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: translateY(-5px);
  font-size: 15px;
  border-radius: 0;
}